@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerDiv {
    @apply top-0
    z-50
    sticky;
  }

  .appOptions {
    @apply md:hidden;
  }

  .appName {
    @apply hidden 
    lg:inline-flex 
    capitalize 
    font-robot-slab 
    text-2xl;
  }

  .centerDiv {
    @apply hidden 
    md:flex 
    items-center 
    space-x-5;
  }

  .mainDim {
    @apply max-w-[540px]
    md:max-w-[1080px]
    lg:max-w-[1300px];
  }

  .routerName {
    @apply hidden
    lg:inline-flex
    capitalize 
    text-lg 
    font-font-robot 
    text-blue-500 
    font-normal;
  }

  .optionsTitle {
    @apply capitalize 
    text-lg 
    font-font-robot 
    text-blue-500 
    font-normal;
  }

  .mainDiv {
    @apply h-screen
    grid
    md:flex
    mx-auto
    xl:max-w-[1500px]
    bg-gray-100;
  }

  .inputBox {
    @apply grid
    lg:flex
    w-full
    lg:w-screen
    max-w-6xl
    items-center;
  }

  .inputDim {
    @apply h-[226px] 
    md:h-[290px] 
    lg:h-[390px];
  }

  .inputDivAdd {
    @apply bg-gray-800
    border-b-4
    border-blue-400
    rounded-lg 
    lg:sticky
    top-2
    z-50
    py-[20px]
    px-[40px]
    shadow-xl;
  }

  .photoAddOptions {
    @apply hidden
    lg:grid;
  }

  .mobilePhotoAdd {
    @apply flex
    items-center
    justify-evenly
    lg:hidden;
  }

  .articleDiv {
    @apply bg-gray-800
    grid
    max-w-md
    lg:max-w-4xl
    mx-auto
    justify-center
    rounded-lg
    lg:items-center
    lg:justify-evenly
    px-10
    py-4
    space-y-4;
  }

  .userName {
    @apply hidden
    md:inline-flex;
  }

  .jpgDisplay {
    @apply hidden
    lg:inline-flex;
  }

  .postMainArea {
    @apply flex
    mx-auto
    h-screen
    max-w-full
    xl:max-w-[1300px]
    bg-gray-100;
  }

  .desktopDiv {
    @apply hidden
    lg:inline-flex;
  }

  .mobileDiv {
    @apply inline-flex
    lg:hidden;
  }

  .postMainText {
    @apply lg:text-lg
    text-sm
    mt-10
    inline
    align-middle
    font-normal 
    font-robot-slab 
    text-blue-400
    px-10
    py-8
    overflow-y-scroll
    scrollbar-hide;
  }

  .postCreator {
    @apply font-semibold 
    font-robot-slab 
    text-base
    lg:text-lg 
    text-blue-500;
  }

  .featuredBlogs {
    @apply lg:col-span-8 
    col-span-1
    pt-[30px]
    pb-[120px]
    mb-8;
  }

  .blogComponent {
    @apply bg-gray-800 
    shadow-lg 
    p-0 
    lg:p-8 
    pb-12
    mb-8
    rounded-lg;
  }

  .blogSubjectImage {
    @apply object-top 
    absolute 
    h-80 
    w-full 
    object-cover 
    shadow-lg 
    rounded-t-lg 
    lg:rounded-lg;
  }

  .blogTitle {
    @apply transition
    transform
    duration-700 
    text-center 
    mb-8 
    cursor-pointer
    text-blue-400
    hover:text-blue-200
    text-2xl
    font-robot-slab
    font-semibold;
  }

  .blogExcerpt {
    @apply block
    lg:flex
    text-center
    items-center
    justify-center
    mb-8
    w-full;
  }

  .blogExLarge {
    @apply mb-4
    lg:mb-0
    w-full
    lg:w-auto
    mr-8;
  }

  .postExcerptText {
    @apply px-4
    lg:px-20
    mb-8;
  }

  .commentsInput {
    @apply grid 
    grid-cols-1 
    lg:grid-cols-2
    gap-4 
    mb-4;
  }

  .newsMainDiv {
    @apply max-w-[1100px]
    overflow-y-scroll
    scrollbar-hide
    mx-auto
    bg-gray-100
    h-screen  
    grid;
  }

  .chatSidebar {
    @apply bg-gray-800
    border-r-2
    border-blue-400 
    h-screen
    flex-1
    lg:flex-[0.5] 
    grid;
  }

  .chatMainDiv {
    @apply flex-1 
        h-screen
        overflow-hidden 
        hidden
        lg:grid  
        bg-blue-400;
  }

  .messageDiv {
    @apply p-8 
  my-16
  flex 
  items-center 
  space-x-3 
  min-w-[228px] 
  max-w-[320px]
  lg:min-w-[390px]
  lg:max-w-[580px] 
  bg-gray-900
  hover:bg-gray-800 
  rounded-3xl;
  }

  .messageFeed {
    @apply h-[90vh]
    w-full
    overflow-y-scroll
    scrollbar-hide
    mx-auto
    grid
    place-items-center
    p-[20px]
    bg-blue-300;
  }
}
